<div id="<%= dom_id coach_profile %>">
  <p>
    <strong>User:</strong>
    <%= coach_profile.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= coach_profile.name %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= coach_profile.birth_date %>
  </p>

  <p>
    <strong>Club:</strong>
    <%= coach_profile.club_id %>
  </p>

  <p>
    <strong>Coach type:</strong>
    <%= coach_profile.coach_type %>
  </p>

</div>
