<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <%= f.fields_for :player_profile do |pp| %>

    <div>
        <%= pp.label :name, style: "display: block" %>
        <%= pp.text_field :name %>
    </div>

    <div>
        <%= pp.label :birth_date, style: "display: block" %>
        <%= pp.date_field :birth_date %>
    </div>

    <div>
        <%= pp.label :position, style: "display: block" %>
        <%= pp.text_field :position %>
    </div>

    <div>
        <%= pp.label :bio, style: "display: block" %>
        <%= pp.textarea :bio %>
    </div>

    <div>
        <%= pp.label :contact, style: "display: block" %>
        <%= pp.number_field :contact %>
    </div>

    <div>
        <%= pp.label :parents_contact, style: "display: block" %>
        <%= pp.number_field :parents_contact %>
    </div>

    <div>
        <%= pp.label :club_profile_id, style: "display: block" %>
        <%= pp.text_field :club_profile_id %>
    </div>

    <div class="actions">
        <%= f.submit "Sign up" %>
    </div>
  <% end %>
<% end %>
