<div id="<%= dom_id club_profile %>">
  <p>
    <strong>User:</strong>
    <%= club_profile.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= club_profile.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= club_profile.status %>
  </p>

  <p>
    <strong>Approved by:</strong>
    <%= club_profile.approved_by %>
  </p>

</div>
