<p style="color: green"><%= notice %></p>

<%= render @club_profile %>

<div>
  <%= link_to "Edit this club profile", edit_club_profile_path(@club_profile) %> |
  <%= link_to "Back to club profiles", club_profiles_path %>

  <%= button_to "Destroy this club profile", @club_profile, method: :delete %>
</div>
