<div id="<%= dom_id post %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= post.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= post.content %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Likes count:</strong>
    <%= post.likes_count %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments count:</strong>
    <%= post.comments_count %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Views count:</strong>
    <%= post.views_count %>
  </div>
</div>
