<div id="<%= dom_id player_profile %>">
  <p>
    <strong>User:</strong>
    <%= player_profile.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= player_profile.name %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= player_profile.birth_date %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= player_profile.position %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= player_profile.bio %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= player_profile.contact %>
  </p>

  <p>
    <strong>Parents contact:</strong>
    <%= player_profile.parents_contact %>
  </p>

  <p>
    <strong>Club profile:</strong>
    <%= player_profile.club_profile_id %>
  </p>

</div>
